/*------------------------------
        NavBar
------------------------------*/

header {
    background-color: transparent;
    height: 100vh;
    padding-bottom: 70px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border-color: rgb(255, 102, 203) !important;
}

.navbar {
    background-color: transparent;
    z-index: 999;

    @media all and (max-width: 991px) {
        background: linear-gradient(rgb(104, 113, 204), rgb(71, 82, 198));
    }

    .logo {
        width: 70px;
    }

    .nav-item {
        a {
            font-size: 1.2rem;

            @media all and (max-width: 991px) {
                color: #fff !important;
            }
        }
    }

    form {
        .btn {
            color: #fff;
        }

        @media all and (max-width: 1200px) {
            .form-control {
                width: 200px;
            }

        }

    }

    .sign {
        margin-right: .25em;

        .sign-up {
            padding: 5px;
            border: 2px solid #F6425F;
            margin: 0 1.25em;
        }

        .sign-in,
        .sign-up {
            color: #fff;
            margin: 0 5px;
        }
    }
}