/*------------------------------
        NavBar
------------------------------*/

header {
    background-color: transparent;
    height: 100vh;
    padding-bottom: 70px;
}

.navbar {
    background-color: transparent;
    z-index: 999;

    @media all and (max-width: 991px) {
        background-color: rgba(104, 176, 171, 0.801);
    }
    
    @media all and (max-width: 768px) {
        background-color: rgba(104, 176, 171, 1);
    }

    .logo {
        width: 70px;
    }

    .nav-item {
        a {
            font-size: 1.2rem;

            @media all and (max-width: 991px) {
                color: #fff !important;
            }
        }
    }

    form {
        .btn {
            color: #fff;
        }

        @media all and (max-width: 1200px) {
            .form-control {
                width: 200px;
            }

        }

    }

    .sign {
        margin-right: .25em;

        .sign-up {
            padding: 5px;
            border: 2px solid #F6425F;
            margin: 0 1.25em;
        }

        .sign-in,
        .sign-up {
            color: #fff;
            margin: 0 5px;
        }
    }
}