.header-course {
    background-image: url(../img/hero/hero-course.jpeg);
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 100%;
    background-position: left top, right top;
    background-attachment: unset;

    @media all and (max-width: 991px) {
        background-size: 100% 100%;
    }
}

.nav-course {
    // background-color: rgba(0, 0, 0, 0.3);
}

.sign-course {
    color: #000 !important;

    @media all and (max-width: 991px) {
        color: #fff !important;
    }
}

.hero-course {
    position: relative;

    .container {
        height: 90vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .hero-text {
        color: #000;

        @media all and (max-width: 991px) {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .hero-buttons {
            a {
                color: #000;

                @media all and (max-width: 991px) {
                    color: #fff;
                }
            }
        }
    }
}