.header-about-us {
    background-image: linear-gradient(rgba(89, 99, 188, .9), rgba(89, 99, 188, .7)), url(../img/hero/hero-about-us.jpg) !important;
    background-color: rgba(89, 99, 188, .3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: unset;
    height: 60vh;
}

.hero-text {
    padding-top: 50px;

    @media all and (max-width: 768px) {
        color: aliceblue;
    }

    h2 {
        @media all and (max-width: 768px) {
            font-size: 1.3rem;
        }
    }

    nav {
        width: 60%;
        margin: auto;
    }
}

.breadcrumb {
    background-color: rgba(233, 236, 239, .5);

    li {
        a {
            color: #000;
            font-size: 0.75rem;
        }
    }

    .active {
        a {

            color: #F6425F;
        }
    }
}