.header-course {
    background-image: url(../img/hero/hero-course.jpeg);
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 100%;
    background-position: left top, right top;
    background-attachment: unset;
}

.nav-course {
    background-color: rgba(0, 0, 0, 0.3);
}

.sign-course {
    color: #000 !important;
}

.hero-course {
    .container {
        height: 90vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}