/*------------------------------
        About us
------------------------------*/

.about-us-main {
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    overflow: hidden;

    @media all and (max-width: 1420px) {
        height: 100vh;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    @media all and (min-width: 1421px) {
        height: 100%;
        padding-bottom: 110px;
    }

    @media all and (max-width: 768px) {
        padding-top: 20px;
    }

    &::before {
        content: "";
        width: 50%;
        position: absolute;
        left: 0;
        transform: skewY(8deg);
    }

    &::after {
        content: "";
        width: 50%;
        position: absolute;
        right: 0;
        transform: skewY(-8deg);
    }

    &::before, &::after {
        background: grey;
        opacity: .3;
        height: 150px;
        bottom: -82px;

        @media all and (min-width: 1921px) {
            content: "";
            display: none;
        }

        @media all and (max-width: 768px) {
            bottom: -102px;
        }
    }
}

.about-flex {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 768px) {
        flex-direction: column;
    }
}

.about-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: right;

    @media all and (max-width: 768px) {
        align-items: center;
        text-align: center;
    }

    h2 {
        font-size: 3rem;

        @media all and (max-width: 991px) {
            font-size: 1.5rem;
        }
    }

    p {
        font-size: 1.2rem;
    }

    a {
        border-bottom: 1px solid #F88191;
        font-size: 1.2rem;
    }

    p, a {
        @media all and (max-width: 991px) {
            font-size: 0.80rem;
        }
    }
}

.about-info {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 768px) {
        justify-content: center;
    }

    .about-info-box {
        box-shadow: 0px 0px 10px -1px rgba(213, 197, 197, .75);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5px;
        height: 210px;
        width: 145px;

        @media all and (max-width: 991px) {
            height: 170px;
            width: 130px;
        }

        @media all and (max-width: 768px) {
            height: 150px;
            width: 135px;
        }

        p {
            font-size: 1.07rem;
            color: grey;

            @media all and (max-width: 320px) {
                font-size: 0.7rem;
            }
        }

        &:hover {
            box-shadow: 0px 0px 10px -1px rgba(248, 129, 145, .75);
        }
    }

    .left {
        margin-bottom: -50px;

        @media all and (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    div {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        >* {
            padding: 5px;
        }
    }

    h3 {
        font-size: 1.5rem;

        @media all and (max-width: 768px) {
            font-size: 1.2rem;
        }
    }
}

.first-box {
    margin-bottom: 7.5px;

    i {
        color: #66CA90;
        font-size: 40px;

        @media all and (max-width: 991px) {
            font-size: 30px;
        }
    }
}

.third-box {
    img {
        width: 70px;

        @media all and (max-width: 768px) {
            width: 50px;
        }
    }
}

.fourth-box {
    img {
        @media all and (max-width: 768px) {
            width: 50px;
        }
    }
}