/*------------------------------
        Category
------------------------------*/

.category-section {
    height: 100%;
    padding: 75px 0;
    text-align: center;
    overflow: hidden;
}

.row {
    .item {
        position: relative;
        border: none;
        border-radius: 5px;
        margin: 2%;
        overflow: hidden;
        max-width: 540px;
        box-shadow: 0px 0px 10px -1px rgba(248, 129, 145, .75);

        &:hover .item-overlay.top {
            top: 0;
        }

        &:hover h3 {
            display: none;
        }

        h3 {
            color: #F6425F;
            padding: 15px 0;
        }

        img {
            max-width: 100%;
        }

        .item-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background: rgba(22, 22, 110, 0.5);
            color: #fff;
            overflow: hidden;
            text-align: center;
            /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
            width: 100%;
            transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 5px;
                height: 100%;

                a {
                    background-color: #F6425F;
                    color: #fff;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 5px 28px;
                }
            }
        }

        .top {
            top: 100%;
            // top: 0;
        }
    }
}

.all-category-p {
    border-bottom: 1px solid #F6425F;
    font-size: 1.3rem;
}