/*------------------------------
        Popular Section
------------------------------*/

.popular-section {
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    background-color: rgba(128, 128, 128, 0.3);

    h1 {
        span {
            font-weight: 700;
        }
    }

    .popular-text {
        display: flex;
        justify-content: space-between;
        padding-bottom: 75px;

        p {
            font-size: 1.2rem;
        }

        a {
            border-bottom: 1px solid #F88191;
            font-size: 1.4rem;
            align-self: flex-end;
        }
    }
}

.glider-contain {
    width: 100%;
    margin-left: 10%;
}

.course-card {
    box-shadow: 0px 0px 10px -1px rgba(213, 197, 197, 0.75);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 330px;
    border-radius: 3px;
    overflow: hidden;

    .course-top {
        img {
            max-width: 100%;
        }
    }

    .course-bottom {
        >div {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            margin: 5px;
        }

        .tag {
            display: inline-block;
            text-align: center;
            overflow: visible;
            background-color: #F6425F;
            color: #fff;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px 28px;
        }

        .stars {
            display: flex;
            flex-direction: row-reverse;

            i {
                color: #DAA520;

                &:last-child {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}