/*------------------------------
        Basic setup
------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $f1-color;
    font-family: 'Tajawal', sans-serif;
    text-rendering: optimizeLegibility;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none !important;
}
